<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="frm-update">

    <div id="modalUpdateUser" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <form id="frmUpdateUser" method="post">
                        <fieldset class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="upFullName" name="upFullName" data-rule-required="true"
                                       data-msg-required="Full Name is required">
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Phone</label>
                                <input type="tel" class="form-control" id="upPhone" name="upPhone" data-rule-required="true"
                                       data-msg-required="Full Name is required">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" id="upUserName" name="upUserName" data-rule-required="true"
                                       data-msg-required="Full Name is required">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" id="upPasswordHash" name="upPasswordHash" data-rule-required="true"
                                       data-msg-required="Password is required">
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Role</label>
                                <select id="upRoleId" class="select form-control">
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    <button type="button" id="btnUpdateUser" class="btn btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Update user
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>