<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Order management</title>
    <th:block th:replace="/layout/head :: head" />
</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>List of order</h1>
            </div>
            <div class="col-sm-7">
                <a class="btn btn-outline-light create-modal"><i class="fa fa-plus-square-o" aria-hidden="true"></i> <span>Add New Order</span></a>
            </div>
        </div>
    </div>
    <div class="box-body">

        <th:block th:replace="/order/frm_list_table.html::list-orders" />

        <input type="hidden" id="currentRow"/>

        <table id="tbListOrders" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Status</th>
                <th>Total Fee</th>
                <th>Create At</th>
                <th>Content</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<th:block th:replace="/order/frm_create :: frm-create" />

<th:block th:replace="/order/frm_update :: frm-update" />

<th:block th:replace="/layout/script :: script" />

<script>
    let page = {
        urls: {
            getAllOrders: App.BASE_URL_ORDER,
            getOrderById: App.BASE_URL_ORDER + '/',
            saveNew: App.BASE_URL_ORDER + '/create/',
            saveEdit: App.BASE_URL_ORDER + '/update/',
            doDelete: App.BASE_URL_ORDER + '/delete/'
        }
    }

    let order = new Order();
    let user = new User();

    let tempOrder = jQuery.validator.format($.trim($("#tempOrder").val()));

    let addRow = () => {
        user = order.user;
        $("#tbListOrders tbody").prepend($(tempOrder(order.id, user.fullName, status[order.status - 1], order.totalFee, order.createAt, order.content)));
    }

    function getOrders() {

        return $.ajax({
            type: "GET",
            // url: page.urls.getAllOrders,
            url: "http://localhost:8080/api/orders"
        }).done((data) => {
            data = data.sort(function (prod1, prod2) {
                return prod1.id - prod2.id;
            });
            $.each(data, (index, item) => {
                order = item;
                addRow();
            });
        }).fail(function() {
            App.showErrorAlert("An error occurred. Please try again later !");
        });
    }

    function getUsers() {

        return $.ajax({
            type: "GET",
            // url: page.urls.getAllOrders,
            url: "http://localhost:8080/api/users"
        }).done((data) => {
            data = data.sort(function (prod1, prod2) {
                return prod1.id - prod2.id;
            });
            $.each(data, (index, item) => {
                user = item;
                str += `
                        <option value="${user.id}">${user.id} ${user.fullName}</option>
                        `;
            });
            $("#user").html(str);
        }).fail(function() {
            App.showErrorAlert("An error occurred. Please try again later !");
        });
    }

    function getUsersUp() {

        return $.ajax({
            type: "GET",
            // url: page.urls.getAllOrders,
            url: "http://localhost:8080/api/users"
        }).done((data) => {
            data = data.sort(function (prod1, prod2) {
                return prod1.id - prod2.id;
            });
            $.each(data, (index, item) => {
                user = item;
                str += `
                        <option value="${user.id}">${user.id} ${user.fullName}</option>
                        `;
            });
            $("#userUp").html(str);
        }).fail(function() {
            App.showErrorAlert("An error occurred. Please try again later !");
        });
    }

    function drawOptionStatus(){
        let str =``;
        for (let i = 1; i <= status.length; i++) {
            str += `<option value="${i}">${status[i-1]}</option>`;
        }
        $("#status").html(str);
    }

    function drawOptionStatusUp(){
        let str =``;
        for (let i = 1; i <= status.length; i++) {
            str += `<option value="${i}">${status[i-1]}</option>`;
        }
        $("#statusUp").html(str);
    }

    function showCreateModal() {
        $('#modalCreateOrder').modal('show');
    }

    function showUpdateModal() {

        if (order.id == null) {
            $('#modalUpdateOrder').modal('hide');
            $('#frmUpdateOrder')[0].reset();
        } else {
            $.ajax({
                type: "GET",
                url: page.urls.getOrderById + order.id,
            }).done((resp) => {
                order = resp;
                assignUpdateModal();

            }).fail(function() {
                App.showErrorAlert("An error occurred. Please try again later !");
            });
        }
    }

    function assignUpdateModal() {
        $("#userUp").val(user.id);
        $("#userUp :selected").text(user.id +" "+user.fullName);
        $("#statusUp :selected").val(order.status);
        $("#totalFeeUp").val(order.totalFee);
        $("#contentUp").val(order.content);
        $('#modalUpdateOrder').modal('show');
    }

    function assignUpdateModalSave() {
        // user.id = $("#userUp").val();
        user.id = $("#userUp :selected").val();

        order.status = $("#statusUp :selected").val();
        order.totalFee = $("#totalFeeUp").val();
        order.content = $("#contentUp").val();
        order.user = user;

        $('#modalUpdateOrder').modal('show');
    }

    function assignCreateModal() {
        delete order.id;

        user.id = $("#user :selected").val();

        order.status = $("#status :selected").val();
        order.totalFee = $("#totalFee").val();
        order.content = $("#content").val();

        console.log(order);
    }

    $("#btnUpdateOrder").on("click", function () {
        assignUpdateModalSave();

        $.ajax({
            type: "PUT",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: page.urls.saveEdit,
            data: JSON.stringify(order)
        }).done( (resp) => {
            order = resp;

            let current_row = $("#tbListOrders tbody").find('#' + $("#currentRow").val());
            let updated_row = $(tempOrder(order.id, order.user, status[order.status - 1], order.totalFee, order.createAt, order.content))
            current_row.replaceWith (updated_row);

            $("#currentRow").val("");
            $("#frmUpdateOrder")[0].reset();
            $("#frmUpdateOrder").validate().resetForm();

            App.showSuccessAlert("Data update successful !");
            App.formatTooltip();

            $('#modalUpdateOrder').modal('hide');

        }).fail( (jqXHR) => {
            $("#modalUpdateOrder .modal-body .modal-alert-danger").empty();
            $("#modalUpdateOrder .modal-body .modal-alert-danger").removeClass("hide").addClass("show");

            let str = ``;
            $.each( jqXHR.responseJSON, function( key, value ) {
                str += `<label id="${key}Up-error" class="error" for="${key}Up">${value}</label>`;
                $("#" + key + "Up").addClass("error");
            });
            $("#modalUpdateOrder .modal-body .modal-alert-danger").html(str);
        });
    });

    $("#btnCreateOrder").on("click", function () {
        assignCreateModal();

        $.ajax({
            type: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: page.urls.saveNew,
            data: JSON.stringify(order)
        }).done( (data) => {
            order = data;
            console.log(order);
            addRow();

            App.showSuccessAlert("Successful data generation !");
            App.formatTooltip();

            $('#modalCreateOrder').modal('hide');

        }).fail( (jqXHR, textStatus, errorThrown) => {
            $("#modalCreateOrder .modal-body .modal-alert-danger").empty();
            $("#modalCreateOrder .modal-body .modal-alert-danger").removeClass("hide").addClass("show");

            let str = ``;
            $.each( jqXHR.responseJSON, function( key, value ) {
                str += `<label id="${key}-error" class="error" for="${key}">${value}</label>`;
                $("#" + key).addClass("error");
            });
            $("#modalCreateOrder .modal-body .modal-alert-danger").html(str);
        });
    });

    function showDeleteModal() {
        App.showDeleteConfirmDialog()
            .then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "DELETE",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },

                        url: "http://localhost:8080/api/orders/delete/" + order.id,

                    }).done( () => {
                        App.showSuccessAlert("Succeeded client delete!");
                        $("#tr_" + order.id).remove();
                    }).fail( () => {
                        App.showErrorAlert("An error occurred. Please try again later!");
                    });
                }
            });
    }

    $("a.create-modal").on("click", function () {
        delete order.id;
        showCreateModal();
    });

    $("#tbListOrders").on("click", ".edit", function () {

        order.id = $(this).data('id');
        $("#currentRow").val($(this).closest("tr").attr("id"));
        showUpdateModal();
    });

    $("#tbListOrders").on("click", ".delete", function () {
        order.id = $(this).data('id');
        $("#currentRow").val($(this).closest("tr").attr("id"));
        showDeleteModal();
    });

    $('#modalCreateOrder').on('hidden.bs.modal', function () {
        $("#currentRow").val("");
        $("#modalCreateOrder .modal-body .modal-alert-danger").empty();
        $("#modalCreateOrder .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalCreateOrder input.error").removeClass("error");
        $('#frmCreateOrder')[0].reset();
        $('#frmCreateOrder').validate().resetForm();
    });

    $('#modalUpdateOrder').on('hidden.bs.modal', function () {
        $("#currentRow").val("");
        $("#modalUpdateOrder .modal-body .modal-alert-danger").empty();
        $("#modalUpdateOrder .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalUpdateOrder input.error").removeClass("error");
        $('#frmUpdateOrder')[0].reset();
        $('#frmUpdateOrder').validate().resetForm();
    });

    function showDeleteModal() {
        App.showDeleteConfirmDialog()
            .then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "DELETE",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },

                        url: "http://localhost:8080/api/orders/delete/" + order.id,

                    }).done( () => {
                        App.showSuccessAlert("Succeeded client delete!");
                        $("#tr_" + order.id).remove();
                    }).fail( () => {
                        App.showErrorAlert("An error occurred. Please try again later!");
                    });
                }
            });
    }

    $(function () {
        getOrders().then(function () {
            drawOptionStatus();
            drawOptionStatus();
            getUsers();
            getUsersUp();

            $('[data-toggle="tooltip"]').tooltip();
        });
    });
</script>

</body>
</html>